<div class="post-item">
  <a href="/posts/<%= post._id %>">
    <h2 class="post-title">
      <%= post.title %>
    </h2>
  </a>
  <div class="post-date">
    <i class="iconfont icon-shizhong"></i>
    <%= post.ct %>
  </div>
  <p class="post-excerpt">
    <%= post.excerpt %>
  </p>
  <div class="post-meta">
    <div class="post-tags">
      <% post.tags.forEach(tag => { %>
      <a href="/posts?tag=<%= tag %>" class="post-tag">
        <%= tag %>
      </a>
      <% }) %>
    </div>
    <div class="post-info">
      <span class="icon-item">
        <i class="iconfont icon-eye4"></i>
        <%= post.pv || 0 %>
      </span>
      <span class="icon-item">
        <i class="iconfont icon-liuyan1"></i>
        <%= post.commentsCount || 0 %>
      </span>
    </div>
  </div>
</div>
