<div class="header-nav header-nav-post">
  <div class="g-nav">
    <a class="item header bounceInDown animated" href="/posts">
      LiuShuang's Blog
    </a>
    <a class="item float-right" href="#">About</a>
    <a class="item float-right" href="/tags">Tags</a>
  </div>
  <div class="nav-center">
    <div class="tags">
      <% post.tags.forEach(tag => { %>
      <a href="/posts?tag=<%= tag %>" class="post-tag2">
        <%= tag %>
      </a>
      <% }) %>
    </div>
    <div class="site-title">
      <%= post.title %>
    </div>
    <div class="info">
      <div class="icon-item">
        <i class="iconfont icon-eye4"></i>
        <%= post.pv %>
      </div>
      <div class="icon-item">
        <i class="iconfont icon-liuyan1"></i>
        <%= post.commentsCount %>
      </div>
      <div class="icon-item">
        <i class="iconfont icon-shizhong"></i>
        <%= post.ut %>
      </div>
    </div>
  </div>
</div>
