<%- include('header') %>
<%- include('components/nav') %>
<%- include('components/notification', { render: render }) %>

<div class="bg-gray padding-tb">
  <div class="g-container">
    <% posts.forEach(function (post) { %>
    <%- include('components/post-item', { post: post }) %>
    <% }) %>
  </div>
</div>

<%- include('footer') %>
