<%- include('components/admin-header') %>

<form class="form-container panel panel-default margin-tb" method="POST">
  <div class="form-group">
    <label for="title">标题</label>
    <input name="title" value="<%= post.title %>" type="text" class="form-control" id="title">
  </div>
  <div class="form-group">
    <label for="tags">tags(tag间用空格分割)</label>
    <input name="tags" value="<%= post.tags %>" type="text" class="form-control" id="tags">
  </div>
  <div class="form-group">
    <label for="content">内容</label>
    <textarea class="form-control" name="content" id="content" rows="15"><%= post.content %></textarea>
  </div>
  <button type="submit" class="btn btn-primary">发布</button>
</form>

<%- include('components/comments.ejs', { comments: comments }) %>
<%- include('../footer') %>
