<div class="container">
  <div class="row">
    <div class="comments-content col-md-9 col-sm-12 col-xs-12">
      <%- include('notification.ejs') %>
      <h3 class="comments-title" id="comments-title">
        评论
        <%= comments.length %>
        <% if (user) { %>
        <span class="comments-name float-right">
          <%= user.name %>
          <i class="iconfont icon-liuyan1"></i>
        </span>
        <% } %>
      </h3>
      <% if (comments.length === 0) { %>
      <div class="comments-none">暂无评论</div>
      <% } %>

      <% comments.forEach(function (comment) { %>
      <div class="comment-item">
        <span class="avatar">
          <img src="/img/<%= comment.author.avatar %>">
        </span>
        <div class="comment-content">
          <div class="date">
            <%= comment.ct %>
          </div>
          <div class="text">
            <%= comment.content %>
          </div>

          <% if (user && comment.author._id.toString() !== user._id.toString()) { %>
          <div class="actions">
            <a class="reply" href="/comments/<%= comment._id %>/remove">删除</a>
          </div>
          <% } %>
        </div>
      </div>
      <% }) %>

      <div class="comments-form">
        <% if (user) { %>
        <form method="post" action="/comments">
          <div class="form-group">
            <label for="comments">添加评论：</label>
            <textarea class="form-control" id="comments" rows="4" style="resize: none;"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">评论</button>
        </form>
        <% } else if (next) { %>
        <a href="/login?next=<%- next %>#comments-title" class="no-login">登录后评论</a>
        <% } %>
      </div>
    </div>
  </div>
</div>
